# dotfiles
.DS_Store
.history/
.RData
.Rhistory
.Rproj.user
.snakemake/

# directories
benchmarks/
data/
results/

# extensions
*.docx
*.log
*.logfile
*.out

# specific files
paper/paper.html
README.html
*temp*

# user files
*_KLS*
*_SKL*
